<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <connectionStrings>
    <!-- Localhost -->
    <!--<add name="ProjectConnection" connectionString="Data Source=(local);Initial Catalog=ProjectLocalhostDB;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->   
    <!-- Test -->
    <add name="ProjectConnection" connectionString="Data Source=sql_server.example.com;Initial Catalog=ProjectTestDB;User Id=ExampleUser;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- inded file location -->
  <location path="wwwroot/index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  
  <system.webServer>
    <!-- rewrite http to https -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>

	<!-- add .woff2 files to IIS to understand -->
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	
  </system.webServer>
  
</configuration>